
  <div class="keyword-wrapper">
    <input [formControl]="queryField" type="text" id="keyword" placeholder="search for stocks..." autofocus/>
  </div>

  <ul class="filter-select elevate" *ngIf="stocks.length">
    <li *ngFor="let stock of stocks" class="filter-select-list">
      <a class="link" routerLink="/search/{{stock.Cusip}}" (click)="hideList()">
        <p class="black">
          {{stock.Description}}
        </p>
        <div class="grey">
          <span>{{stock.SecType}}</span>
          <span>{{stock.Ticker}}</span>
          <span>{{stock.Cusip}}</span>
        </div>
      </a>
    </li>
  </ul>
